@media (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
  }

  nav ul {
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    line-height: 2em;
  }

  .nav-icon {
    width: 30px;
  }
  .nav-icon-a {
    width: 20px;
  }

  .intro {
    background-image: url(/Images/Fond.jpg);
  }

  #Image-Intro {
    src: url(/Images/Fond.jpg);
  }
}
